* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 16px;
    background-color: #222222;
    height: 100%;
}
/*h1
{
  margin: 0;
}*/

header {
    background: linear-gradient(45deg, black, transparent), url(../img/bg.jpg);
    height: 100vh;
}
header nav {
    line-height: 90px;
    /* position: fixed;
    width: 100%;*/
}
nav img {
    width: 167px;
    height: 45px;
    vertical-align: middle;
    margin-left: 3%;
}
.signin {
    float: right;
    margin: 20px 3%;
    background-color: #e50914;
    height: 33px;
    width: 87px;
    border: yellow;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.pitch {
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.8vw;
}
.pitch .pitchTitle {
    /* font-size: 3em;
  margin: 0 0 0 8px;
  font-weight: 900; */
    font-size: 2em;
    margin: 0 0px 4px 317px;
    font-weight: 900;
    text-align: center;
    width: 50%;
    /* border: none; */
}
.pitch .pitchSubtitle {
    /* margin: 0 0 0 16px;
   */
    margin: 12px 0 0 16px;
    text-align: center;
}
.pitch .littlesub {
    text-align: center;
    font-size: 20px;
}
.pitch .btn {
    font-size: 18px;
    letter-spacing: 0.2px;
    margin: 15px 10px 10px 18px;
    padding: 14px 2em;
    background-color: #e50913;
    /* border: none; */
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 54%;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-align: center;
}
.pitch .btn:hover {
    background-color: #f40008;
}
#features>nav {
    padding-top: 35px;
    background-color: #141414;
    border-bottom: 2px solid #3e3e3e;
}
#features>nav a {
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    vertical-align: top;
    height: 177px;
    color: #777;
    font-weight: bold;
}
#features>nav a:hover {
    color: white;
}
#features>nav img {
    height: 49px;
    width: 49px;
}
#features>nav a h1 {
    margin: 10px 0 0;
    font-size: 1em;
}
.columns {
    display: flex;
}
.center {
    margin: 0 auto;
}
.size-80 {
    width: 80%;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}
.signup {
    align-items: center;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}
.signup .singbtn {
    width: 256px;
    height: 60px;
    border-radius: 0px;
    border: none;
    background-color: #f40612;
    color: wheat;
    font-size: 20px;
}
.signup #emai {
    width: 608px;
    height: 60px;
    border-radius: 0px;
    padding: 20px;
}
.streamFestContainer {
    background: linear-gradient(-45deg, black, transparent), url("../img/str.jpg");
    height: 575px;
}
.streamfest {
    display: flex;
    margin-top: 3px;
}
.streamfest img {
    width: 384px;
    /* height: 286px; */
}
.rightside {
    margin-left: 140px;
    margin-top: 15px;
}
.streamFestContainer {
    padding: 186px;
}
.leftSide {
    margin-left: 40px;
}
.rightside h1 {
    margin-bottom: 0px;
    font-size: 45px;
    font-weight: bold;
}
.rightside p {
    margin-top: 2px;
    font-size: 25px;
}
.rightside button {
    height: 48px;
    width: 192px;
    border-radius: 0px;
    border: none;
    background-color: #e20813;
    color: white;
    font-size: 20px;
    margin-top: 16px;
}
.emialForm {
    display: flex;
}
.emialForm .em {
    border: none;
}
.watchonTv {
    display: flex;
}
.watchonTv .leftSideTv {
    margin: auto;
    padding: 64px;
}
.WatchOnTvContainer {
    background-color: black;
    margin-top: 10px;
}
.leftSideTv h1 {
    font-size: 51px;
    padding-left: 13px;
    margin-bottom: 0px;
}
.leftSideTv p {
    font-size: 26px;
    font-weight: inherit;
    padding-left: 13px;
    margin-top: 29px;
}
.rightSideTv img {
    height: 397px;
    width: 530px;
}
.rightSideTv {
    padding-right: 60px;
    margin-bottom: 35px;
}
.dowloadshow {
    display: flex;
}
.leftshow {
    position: relative;
}
.leftshow img {
    height: 378px;
    width: 504px;
}
.DownloadshowContainer {
    margin: 10px auto 0;
    background-color: black;
}
.rightshow {
    margin: auto;
    padding: 0 141px 0 64px;
    margin-left: 44px;
}
.rightshow h1 {
    font-size: 51px;
    margin-bottom: 0;
}
.rightshow p {
    font-size: 26px;
}
.leftshow {
    margin-left: 33px;
}
.watchEvrywhere {
    background-color: black;
    margin-top: 10px;
}
.watchRight img {
    margin-top: 72px;
}
.faqDiv {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}
.accordian {
    max-width: 800px;
    /* margin-top: -200px; */
}
.accordian .contentBox {
    position: relative;
    margin: 5px 20px;
}
.accordian .contentBox .label {
    position: relative;
    color: white;
    background-color: #303030;
    padding: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}
.accordian .contentBox .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 34px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordian .contentBox.active .label::before {
    content: "X";
    font-size: 1em;
}
.accordian .contentBox .content {
    background-color: #303030;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.05s;
    height: 0;
    margin-top: 1px;
}
.accordian .contentBox.active .content {
    height: 250px;
    padding: 20px;
}
.accordian h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}
.accordian .contentBox .content p {
    font-size: 20px;
}
#error {
    /*margin-right:41em;*/
    font-size: 16px;
    margin-top: 10px;
    color: #E08F0F;
}
.error {
    margin-left: 182px
}
.DownloadingStranger {
    background-color: black;
    height: 20%;
    width: 50%;
    /*padding: 10px*/
    display: flex;
    /*position:relative;*/
    position: absolute;
    top: 67%;
    left: 24%;
    border-radius: 7px;
    border: black;
    border-width: 1px solid blue;
    border: 3px solid #222;
}
.DownloadingStranger .imageStranger img {
    height: 57px;
    width: 41px;
}
.imageStranger {
    margin-bottom: 34px margin-left: 27px;
}
.strangerRight strong {
    margin-left: 16px;
    margin-bottom: 0;
}
.strangerRight p {
    margin: 0 0 0 17px;
    color: #004999;
}
.strangerRight {
    margin-top: 14px;
}
.imageStranger img {
    margin: 7px 0px 10px 10px;
}
.strangerRight img {
    height: 23px;
    width: 23px;
    float: right;
    position: absolute;
    top: 32%;
    right: 20px;
}
.singbtn:hover {
    background-color: #ff050d;
    cursor: pointer;
}
.rightside button:hover {
    background-color: #ff050d;
    cursor: pointer;
}
.MainContentContainer
{
    min-height: 100vh;
}
.footerContainer
{
    height: 500px;
    background-color: black;
    padding: 20px;
}
.mainFooter
{
    display: flex;
justify-content: space-evenly;
margin-top: 39px;
margin-left: 75px;
margin-right: 86px;
}
.firstConatiner li
{
    list-style: none;
    margin-bottom: 7px;
}
.footerit .call
{
    margin-left: 200px;
margin-top: 100px;
}
.firstConatiner a{
    color:#747474;
    text-decoration: none;
    /* font-size: 14px; */
}
.firstConatiner a:hover
{
    text-decoration: underline;
}
.lastsec
{
    margin-left: 202px;
margin-top: 26px;
}

select
{
position: relative;
margin-left: 199px;
margin-top: 50px;
/* padding: 11px; */
width: 115px;
height: 55px;
font-size: 17px;
/* background-color: ; */
background: none;
border: 1px solid white;
appearance:none;
color: white;
/* -webkit-appearance: button;
-moz-appearance:button; */
}
select::after
{
    content: "ds";
}
.footerDiv
{
    margin-top: 10px;
}
.footerDiv p
{
    color: #747474;
}
#callmeonphone
{
    color: #747474;
    text-decoration: none;
    
}
#callmeonphone:hover
{
    text-decoration: underline;
}
